@font-face {
    font-family: 'Uni Neue';
    src: url('./font/UniNeueBlack.eot');
    src: url('./font/UniNeueHeavy.eot?#iefix') format('embedded-opentype'), url('./font/UniNeueHeavy.woff2') format('woff2'), url('./font/UniNeueHeavy.woff') format('woff'), url('./font/UniNeueHeavy.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./font/AvenirNextCyr-Bold.eot');
    src: url('./font/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'), url('./font/AvenirNextCyr-Bold.woff2') format('woff2'), url('./font/AvenirNextCyr-Bold.woff') format('woff'), url('./font/AvenirNextCyr-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        background: url('./img/bkg_mobile.jpg') no-repeat;
        display: block;
        background-size: cover;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .logo_head {
        width: 50%;
    }
    .logo_img {
        width: 158px;
    }
    .number_phone_img img {
        width: 39px;
    }
    .number_phone {
        display: flex;
        width: 50%;
        margin: auto;
    }
    .info_text_tel {
        display: flex;
        flex-direction: column;
        margin-left: 9px;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
    }
    .info_text_tel_p {
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        padding-top: 5px;
    }
    .info_text_tel_span {
        color: #d5b206;
    }
    .info_text_tel_numberphone {
        font-size: 13px;
        color: white;
    }
    .notes_for_free_work {
        display: flex;
        width: 50%;
    }
    .social_whatsapp {
        width: 30%;
        display: flex;
        margin: auto;
    }
    .social_whatsapp img {
        width: 30px;
        height: 30px;
    }
    .text_whatsapp {
        margin-left: 10px;
    }
    .img_rollingmtr {
        background-color: #f5cb06;
        height: 39px;
        border-radius: 6px;
        width: 45px;
    }
    .img_rollingmtr img {
        width: 52px;
    }
    .text_notes {
        font-family: 'Avenir Next Cyr';
        font-style: normal;
        font-size: 8px;
        padding: 8px 10px;
        color: #ffff;
        text-transform: uppercase;
        text-align: center;
        border-radius: 6px;
        border: 2px solid #f8ca23;
        margin-left: 3px;
        height: 40px;
        width: 126px;
        
    }

    .text_notes_for_border{
        border: medium none;
        background-image: none;
        background: transparent;
        float: left;
        background-color: transparent;

    }
    .notes_for_free_work {
        margin: auto;
        width: 50%;
    }
    .text_whatsapp {
        font-family: 'Avenir Next Cyr';
        font-weight: normal;
        text-decoration: underline;
        color: white;
        font-size: 10px;
    }
    .section {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .slogan_and_infotext {
        margin: auto;
    }
    .slogan_and_infotext h1 {
        font-family: 'Uni Neue';
        font-weight: bold;
        font-size: 27px;
        color: white;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
        padding-top: 57px;
        margin-bottom: 16px;
    }
    .text_decorh1 {
        color: #ffd100;
    }
    .p_text_slogan {
        font-family: 'Avenir Next Cyr';
        color: #f6f6f6;
        text-align: center;
        font-size: 15px;
        padding: 0px 50px 0px;
        margin-bottom: 20px;
    }
    .text_p_decor {
        font-weight: bold;
    }
    .button {
        margin: auto;
    }
    .button_interactive {
        font-family: 'Avenir Next Cyr';
        height: 51px;
        width: 249px;
        border: 2px solid #ab9e65;
        border-radius: 9px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
        background-image: linear-gradient(#fff090 20%, #ffb300 90%, #ffb000);
        margin-bottom: 25px;
    }
    .p_in_paralellogram {
        font-family: 'Avenir Next Cyr';
        font-weight: normal;
        font-size: 13px;
        text-align: left;
        padding-right: 10px;
    }
    .advantages_info {
        color: #efece9;
    }
    .parallelogram_block_info {
        display: flex;
    }
    .parallelogram_block_info:nth-child(odd), .parallelogram_block_info:nth-child(2) {
        margin-bottom: 30px;
    }
    .parallelogram_block_info:nth-child(4) {
        padding-bottom: 40px;
    }
    .parallelogram_block_info img {
        margin: auto 20px;
    }
}

@media (min-width: 1140px) {
    body {
        padding: 0px 15px;
        background: url('./img/backgr.jpg') center/cover no-repeat;
    }
    .parallelogram_block_info img {
        display: none;
    }
    .section {
        width: 1120px;
        margin: auto;
    }
    p, h1 {
        color: wheat;
    }
    .container {
        width: 1290px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .header {
        margin-bottom: 100px;
    }
    .number_phone, .social_whatsapp, .notes_for_free_work {
        display: flex;
    }
    .logo {
        width: 200px;
    }
    .img_logo_tel {
        height: 42px;
    }
    .info_text_tel {
        margin-left: 10px;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
    }
    .info_text_tel_p {
        font-size: 16px;
        color: white;
        text-transform: uppercase;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
    }

    .info_text_tel_span{
        color: wheat;

    }
    .info_text_tel a {
        font-size: 24px;
        color: white;
        text-transform: uppercase;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
    }
    .number_phone_img img {
        width: 50px;
    }
    .p_header {
        font-size: 14px;
        color: white;
        text-transform: uppercase;
    }
    .text_color {
        color: #ffd306;
    }
    .nbr_phone {
        font-size: 24px;
        color: #ffff;
    }
    .text_whatsapp {
        margin-left: 10px;
        color: #ffff;
        font-size: 15px;
        padding-top: 3px;
        text-decoration: underline;
    }
    .text_notes {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 15px;
        color: #ffff;
        text-transform: uppercase;
        text-align: center;
        border-radius: 6px;
        border: 2px solid #f8ca23;
        margin-left: 3px;
    }

    .text_notes_for_border {
        cursor: pointer;
        border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;

    }

    .text_notes_for_border:hover {
        box-shadow: 0 2px 50px -5px grey;
        border-radius: 6px;
        border: medium none;
        background-image: none;
        background: transparent;
        float: left;
        background-color: transparent;

        
    }
    .img_rollingmtr {
        background-color: #f5cb06;
        height: 59px;
        border-radius: 6px;
    }
    .button_interactive {
        background-color: yellow;
    }
    .content {
        width: 1290px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px;
    }
    .slogan_and_infotext {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .slogan_and_infotext h1 {
        color: #ffff;
        text-transform: uppercase;
        font-size: 68px;
        margin-bottom: 15px;
        font-family: 'Uni Neue';
        font-weight: 800;
    }
    .text_decorh1 {
        color: #ffd100;
    }
    .p_text_slogan {
        color: #e6e6e5;
        font-size: 28px;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
    }
    .text_p_decor {
        font-weight: bold;
        color: #ffff;
    }
    .button_interactive {
        margin-bottom: 40px;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
        font-weight: bold;
        background-color: #ffb600;
        height: 58px;
        width: 330px;
        text-transform: uppercase;
        font-size: 17px;
        border-radius: 10px;
        background-image: linear-gradient(to right, #e3dcb3 0%, #ffb200 34%, #ffea71 150%);
        cursor: pointer;
    }
    .button_interactive:hover {
        background-image: linear-gradient(to right, #ffb200 0%, #ffea71 34%, #ffb200 150%);
        box-shadow: 0 2px 50px -5px grey;
        cursor: pointer;
    }
    .advantages_info {
        display: flex;
        justify-content: space-between;
        margin-left: -69px;
        width: 50%;
    }
    .p_in_paralellogram {
        background: url('./img/bkg_img.png');
        height: 298px;
        width: 299px;
        padding-top: 48px;
        padding-right: 56px;
        padding-left: 71px;
        background-repeat: no-repeat;
        color: black;
        text-align: center;
        margin: 0 -41px;
    }
    .parallelogram_block_info {
        position: relative;
    }
    .parallelogram_block_info:nth-child(1):after {
        content: "";
        background: url('./img/money.png');
        position: absolute;
        background-size: 198px 92px;
        width: 186px;
        height: 101px;
        left: -7px;
        bottom: 36px;
        background-repeat: no-repeat;
    }
    .parallelogram_block_info:nth-child(2):after {
        content: "";
        background: url('./img/kub.png');
        position: absolute;
        background-size: 101px 95px;
        width: 186px;
        height: 101px;
        left: 41px;
        bottom: 41px;
        background-repeat: no-repeat;
    }
    .parallelogram_block_info:nth-child(3):after {
        content: "";
        background: url('./img/blockimg3.png');
        position: absolute;
        background-size: 182px 92px;
        width: 205px;
        height: 101px;
        left: 6px;
        bottom: 29px;
        background-repeat: no-repeat;
    }
    .parallelogram_block_info:nth-child(4):after {
        content: "";
        background: url('./img/furgon-gazel-biznes.png');
        position: absolute;
        background-size: 256px 151px;
        width: 207px;
        height: 148px;
        left: 3px;
        bottom: 33px;
        background-repeat: no-repeat;
    }
    .text_in_block_parallel {
        text-align: center;
        font-weight: bold;
        color: black;
    }
}

@media (min-width: 768px) and (max-width: 1140px) {
    body {
        background: url('./img/bkg_mobile.jpg') no-repeat;
        display: block;
        background-size: cover;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .logo_head {
        width: 50%;
    }
    .logo_img {
        width: 246px;
    }
    .number_phone_img img {
        width: 61px;
    }
    .number_phone {
        display: flex;
        width: 50%;
        margin: auto;
    }
    .info_text_tel {
        display: flex;
        flex-direction: column;
        margin-left: 9px;
        font-family: 'Avenir Next Cyr';
        font-style: normal;
    }
    
    .text_notes_for_border{
        border: medium none;
        background-image: none;
        background: transparent;
        float: left;
        background-color: transparent;

    }
    .info_text_tel_p {
        color: white;
        text-transform: uppercase;
        font-size: 17px;
        padding-top: 5px;
    }
    .info_text_tel_span {
        color: #d5b206;
    }
    .info_text_tel_numberphone {
        font-size: 24px;
        color: white;
    }
    .notes_for_free_work {
        display: flex;
        width: 50%;
    }
    .social_whatsapp {
        width: 23%;
        display: flex;
        margin: auto;
    }
    .social_whatsapp img {
        width: 55px;
        height: 55px;
    }
    .text_whatsapp {
        margin-left: 10px;
    }
    .img_rollingmtr {
        background-color: #f5cb06;
        height: 54px;
        border-radius: 6px;
        width: 62px;
    }
    .img_rollingmtr img {
        width: 75px;
    }
    .text_notes {
        font-family: 'Avenir Next Cyr';
        font-style: normal;
        font-size: 14px;
        padding: 8px 10px;
        color: #ffff;
        text-transform: uppercase;
        text-align: center;
        border-radius: 6px;
        border: 2px solid #f8ca23;
        margin-left: 3px;
        height: 56px;
        width: 212px;
    }
    .notes_for_free_work {
        margin: auto;
        width: 17%;
    }
    .text_whatsapp {
        font-family: 'Avenir Next Cyr';
        font-weight: normal;
        text-decoration: underline;
        color: white;
        font-size: 20px;
    }
    .section {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .slogan_and_infotext {
        margin: auto;
    }
    .slogan_and_infotext h1 {
        font-family: 'Uni Neue';
        font-weight: bold;
        font-size: 61px;
        color: white;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
        padding-top: 57px;
        margin-bottom: 16px;
    }
    .text_decorh1 {
        color: #ffd100;
    }
    .p_text_slogan {
        font-family: 'Avenir Next Cyr';
        color: #f6f6f6;
        text-align: center;
        font-size: 31px;
        padding: 0px 50px 0px;
        margin-bottom: 20px;
    }
    .text_p_decor {
        font-weight: bold;
    }
    .button {
        margin: auto;
    }
    .button_interactive {
        font-family: 'Avenir Next Cyr';
        height: 64px;
        width: 391px;
        border: 2px solid #ab9e65;
        border-radius: 9px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        background-image: linear-gradient(#fff090 20%, #ffb300 90%, #ffb000);
        margin-bottom: 25px;
    }
    .p_in_paralellogram {
        font-family: 'Avenir Next Cyr';
        font-weight: normal;
        font-size: 27px;
        text-align: left;
        padding-right: 10px;
    }
    .parallelogram_block_info img {
        width: 62px;
    }
    .advantages_info {
        color: #efece9;
    }
    .parallelogram_block_info {
        display: flex;
    }
    .parallelogram_block_info:nth-child(odd), .parallelogram_block_info:nth-child(2) {
        margin-bottom: 30px;
    }
    .parallelogram_block_info:nth-child(4) {
        padding-bottom: 40px;
    }
    .parallelogram_block_info img {
        margin: auto 20px;
    }
}
